<!DOCTYPE>
<html>
  <head>
<script rel="styleesheet" href="../views/style.css"></script> 
 </head>
  <body>
<h2>Welcome</h2>
<table border="1">
<tr>
  <th>userName</th>
  <th>Email</th>
  <th>DOB</th>
</tr>
{{#each list}}

        <tr>
            <td style="text-align:center; border: 1px solid black;">
                {{this.userName}}
            </td>
            <td style="text-align:center; border: 1px solid black;" >
                {{this.email}}
            </td >
            <td style="text-align: center; border: 1px solid black;">
                {{this.DOB}}
            </td>
        </tr>
        {{/each }}
</table>
<h3>Thank you and Regards</h3>
  </body>

</html>